name: "Build and Publish to PyPi"

on:
  workflow_dispatch:
  push:
    tags:
      - v*

jobs:
  run:
    runs-on: ubuntu-latest
    environment: 
      name: pypi
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Install Python 3.12
        run: uv python install 3.12

      - name: Install dependencies
        run: |
          uv sync;
          cat pyproject.toml

      - name: Run tests
        run: uv run python -m pytest

      - name: Build
        run: uv build

      - name: Publish
        run: uv publish
      


